.git
.github
.woodpecker.yml
.tags
dist
bin
coverage.txt
*.test
*.out

examples/**/generated
examples/**/Generated
examples/**/dist
examples/**/bin
examples/**/obj

.env
.env.local
*.local.json
secrets

.idea
.vscode
*.swp
Thumbs.db
.DS_Store
